<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>1ID</title>
    <link
      rel="stylesheet"
      href="../public/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../public/css/sweet-alert.css"
      type="text/css"
    />
    <script>
      var UserAddress="";

      var DL_No = 0;
      var DL_Name = 0;
      var DL_DOB = 0;
      var DL_Hash = 0;
      var DL_Address = 0;

      window.addEventListener('load', async () => {
      if (window.ethereum) {
          window.web3 = new Web3(ethereum);
          try {
            await ethereum.enable();
            UserAddress = web3.eth.coinbase;
          } catch (error) {
            alert("User denied account access...");
          }
        } else if (window.web3) {
          window.web3 = new Web3(web3.currentProvider);
          UserAddress = web3.eth.coinbase;
        } else {
          alert(
            "Non-Ethereum browser detected. You should consider trying MetaMask!"
          );
        }
        web3.eth.getAccounts(function (err, accounts) {
          if (err != null) {
            alert("Error retrieving accounts.");
            return;
          }
          if (accounts.length == 0) {
            alert(
              "No account found! Make sure the Ethereum client is configured properly."
            );
            return;
          }
          UserAddress = accounts[0];
          web3.eth.defaultAccount = UserAddress;
          ViewDLRequestDetail();
        });
      });

      function ViewDLRequestDetail()
      {
      	var ABIString = document.getElementById("hdnContractABI").value;
      	ABIString = ABIString.replace(/'/g , "\"");
      	ABIJSON = JSON.parse(ABIString);
      	MyContract = new web3.eth.Contract(ABIJSON, "<%=ContractAddress%>");

      	requestlistchild = document.getElementById("requestlistchild");
        MyContract.methods
        .ViewDLRequestDetail(UserAddress, <%= RequestIndex %>)
        .call()
        .then(function (result) {
        console.log(result);
        DL_No = parseInt(result[1]);
        DL_Name = parseInt(result[2]);
        DL_DOB = parseInt(result[3]);
        DL_Hash = parseInt(result[4]);
        DL_Address = parseInt(result[5]);

        /*
        console.log("DL_No - "+DL_No);
        console.log("DL_Name - "+DL_Name);
        console.log("DL_DOB - "+DL_DOB);
        console.log("DL_DOE - "+DL_DOE);
        console.log("DL_Address - "+DL_Address);
        */

        if(DL_No == 1)
        {
        var listHTML = "<tr><td width='80%'>Driving Licence No.</td><td width='20%' align='center'><input type='checkbox' id='chk_DL_No' name='chk_DL_No' value=''/></td></tr>";
        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
        }

        if(DL_Name == 1)
        {
        var listHTML = "<tr><td width='80%'>Name as per Driving Licence</td><td width='20%' align='center'><input type='checkbox' id='chk_DL_Name' name='chk_DL_Name' value=''/></td></tr>";
        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
        }

        if(DL_DOB == 1)
        {
        var listHTML = "<tr><td width='80%'>Date Of Birth as per Driving Licence</td><td width='20%' align='center'><input type='checkbox' id='chk_DL_DOB' name='chk_DL_DOB' value=''/></td></tr>";
        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
        }

        if(DL_Hash == 1)
        {
        var listHTML = "<tr><td width='80%'>Digital Licence Copy</td><td width='20%' align='center'><input type='checkbox' id='chk_DL_Hash' name='chk_DL_Hash' value=''/></td></tr>";
        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
        }

        if(DL_Address == 1)
        {
        var listHTML = "<tr><td width='80%'>Address as per Driving Licence</td><td width='20%' align='center'><input type='checkbox' id='chk_DL_Address' name='chk_DL_Address' value=''/></td></tr>";
        requestlistchild.insertAdjacentHTML('beforeend',listHTML);
        }
        })
        .catch(function (err) {
        console.log(err)
        swal(err);
        });
      }

      function UpdateRequestStatus()
      {
      	var ABIString = document.getElementById("hdnContractABI").value;
      	ABIString = ABIString.replace(/'/g , "\"");
      	ABIJSON = JSON.parse(ABIString);
      	MyContract = new web3.eth.Contract(ABIJSON, "<%=ContractAddress%>");

      	var AccessReqCount=0;
      	var AccessPerCount=0;

      	if(DL_No == 1)
      	{
      		AccessReqCount=AccessReqCount+1;
      		if(document.getElementById("chk_DL_No").checked)
      		{
      			DL_No=2;
      			AccessPerCount=AccessPerCount+1;
      		}
      		else
      		{
      			DL_No=3;
      		}
      	}

      	if(DL_Name == 1)
      	{
      		AccessReqCount=AccessReqCount+1;
      		if(document.getElementById("chk_DL_Name").checked)
      		{
      			DL_Name=2;
      			AccessPerCount=AccessPerCount+1;
      		}
      		else
      		{
      			DL_Name=3;
      		}
      	}

      	if(DL_DOB == 1)
      	{
      		AccessReqCount=AccessReqCount+1;
      		if(document.getElementById("chk_DL_DOB").checked)
      		{
      			DL_DOB=2;
      			AccessPerCount=AccessPerCount+1;
      		}
      		else
      		{
      			DL_DOB=3;
      		}
      	}

      	if(DL_Hash == 1)
      	{
      		AccessReqCount=AccessReqCount+1;
      		if(document.getElementById("chk_DL_Hash").checked)
      		{
      			DL_Hash=2;
      			AccessPerCount=AccessPerCount+1;
      		}
      		else
      		{
      			DL_Hash=3;
      		}
      	}

      	if(DL_Address == 1)
      	{
      		AccessReqCount=AccessReqCount+1;
      		if(document.getElementById("chk_DL_Address").checked)
      		{
      			DL_Address=2;
      			AccessPerCount=AccessPerCount+1;
      		}
      		else
      		{
      			DL_Address=3;
      		}
      	}

      	var DL_OverAll_Status = 0;
      	if(AccessPerCount == 0)
      	{
      		DL_OverAll_Status = 4;
      	}
      	else if(AccessPerCount == AccessReqCount)
      	{
      		DL_OverAll_Status = 3;
      	}
      	else if(AccessPerCount < AccessReqCount)
      	{
      		DL_OverAll_Status = 2;
      	}

      /*
      	console.log("=========================================================");
      	console.log("DL_No - "+DL_No);
      	console.log("DL_Name - "+DL_Name);
      	console.log("DL_DOB - "+DL_DOB);
      	console.log("DL_DOE - "+DL_DOE);
      	console.log("DL_Address - "+DL_Address);
      	console.log("DL_OverAll_Status - "+DL_OverAll_Status);

      	return false;
      */
      MyContract.methods
          .UpdateRequestStatus(
            UserAddress,<%=RequestIndex%>,DL_No,DL_Name,DL_DOB,DL_Hash,DL_Address,DL_OverAll_Status
          )
          .send({ from: UserAddress })
          .then(function (tx) {
            location.href = "/Message?TransHash=" + tx.transactionHash;
            console.log("Transaction: ", tx);
          })
          .catch(function (err) {
            console.log(err);
          })
      }
    </script>
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="../public/img/1ID-logo.png" />
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="/">Home</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <form name="IntelitixForm" method="post" action="pubcert.asp">
      <div class="container container_body">
        <div class="row">
          <div class="col-md-6 center-block">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">View Access Request</h3>
              </div>
              <div class="panel-body">
                <table class="table table-bordered" id="requestlistparent">
                  <tr>
                    <td width="40" align="center"><b>Institution Name</b></td>
                    <td width="40" align="center">
                      <b><%=InstitutionName%></b>
                    </td>
                  </tr>
                </table>
                <table class="table table-bordered" id="requestlistchild">
                  <tr>
                    <td colspan="2" align="center"><b>Requested Access</b></td>
                  </tr>
                </table>
                <div class="aligncenter">
                  <button
                    type="button"
                    class="btn btnsm btn-primary"
                    onClick="UpdateRequestStatus()"
                  >
                    Update Access
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input
        type="hidden"
        id="hdnContractABI"
        name="hdnContractABI"
        value='[{"inputs":[],"stateMutability":"nonpayable","type":"constructor"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"AddDLRequest","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"name":"AddUser","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"string","name":"DL_No","type":"string"},{"internalType":"string","name":"DL_Name","type":"string"},{"internalType":"string","name":"DL_DOB","type":"string"},{"internalType":"string","name":"DL_Hash","type":"string"},{"internalType":"string","name":"DL_Address","type":"string"}],"name":"AddUserDL","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"name":"UpdateRequestStatus","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestDetail","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_No","type":"uint256"},{"internalType":"uint256","name":"DL_Name","type":"uint256"},{"internalType":"uint256","name":"DL_DOB","type":"uint256"},{"internalType":"uint256","name":"DL_Hash","type":"uint256"},{"internalType":"uint256","name":"DL_Address","type":"uint256"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"ViewDLRequestHeader","outputs":[{"internalType":"string","name":"RequestedBy","type":"string"},{"internalType":"uint256","name":"DL_OverAll_Status","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"}],"name":"ViewDLRequestLength","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"UserIndex","type":"uint256"}],"name":"viewUser","outputs":[{"internalType":"string","name":"FullName","type":"string"},{"internalType":"string","name":"EmailID","type":"string"},{"internalType":"uint256","name":"MobileNo","type":"uint256"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"UserAddress","type":"address"},{"internalType":"uint256","name":"RequestIndex","type":"uint256"}],"name":"viewUserDL","outputs":[{"internalType":"uint256","name":"DL_No_S","type":"uint256"},{"internalType":"string","name":"DL_No_V","type":"string"},{"internalType":"uint256","name":"DL_Name_S","type":"uint256"},{"internalType":"string","name":"DL_Name_V","type":"string"},{"internalType":"uint256","name":"DL_DOB_S","type":"uint256"},{"internalType":"string","name":"DL_DOB_V","type":"string"},{"internalType":"uint256","name":"DL_Hash_S","type":"uint256"},{"internalType":"string","name":"DL_Hash_V","type":"string"},{"internalType":"uint256","name":"DL_Address_S","type":"uint256"},{"internalType":"string","name":"DL_Address_V","type":"string"}],"stateMutability":"view","type":"function"}]'
      />
    </form>
    <footer class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="footer-copyright">&copy; 2019 1ID</div>
          </div>
        </div>
      </div>
    </footer>
    <%- include('./Header'); %>
  </body>
</html>
